/*
  Layout Module v1
  ---------------------
  @desc: Wrappers, Grids, Rows
  @author: Alan Museljic
  @twitter: https://www.twitter.com/_uloga
  @source: http://www.decorator.io/modulr
\--------------------------------------------*/

/* __ Wrappers __ */

.wrapper748{
  width: 748px;
}
.wrapper960{
  width: 960px;
}
.wrapper1280{
  width: 1280px;
}
.wrapper1480{
  width: 1480px;
}

/* __ Columns __ */

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12{
  float: left;
  position: relative;
  display: block;
  min-height: 5px;
}

.col-12 {
  min-width: 100%;
}
.col-11{
  width: 91.6666666%;
}
.col-10 {
  width: 83.33333333333333%;
}
.col-9 {
  width: 75%;
}
.col-8 {
  width: 66.66666666666667%;
}
.col-7 {
  width: 58.33333333333333%;
}
.col-6 {
  width: 50%;
}
.col-5 {
  width: 41.66666666666667%;
}
.col-4 {
  width: 33.33333333333333%;
}
.col-3 {
  width: 25%;
}
.col-2 {
  width: 16.66666666666667%;
}
.col-1 {
  width: 8.33333333%;
}

/* __ push left columns __ */

.pull-right-col-12,
.offset-left-12{
  margin-left: 100%;
}
.pull-right-col-11,
.offset-left-11{
  margin-left: 91.6666666%;
}
.pull-right-col-10,
.offset-left-10{
  margin-left: 83.33333333333333%;
}
.pull-right-col-9,
.offset-left-9{
  margin-left: 75%;
}
.pull-right-col-8,
.offset-left-8{
  margin-left: 66.66666666666667%;
}
.pull-right-col-7,
.offset-left-7{
  margin-left: 58.33333333333333%;
}
.pull-right-col-6,
.offset-left-6{
  margin-left: 50%;
}
.pull-right-col-5,
.offset-left-5{
  margin-left: 41.66666666666667%;
}
.pull-right-col-4,
.offset-left-4{
  margin-left: 33.33333333333333%;
}
.pull-right-col-3,
.offset-left-3{
  margin-left: 25%;
}
.pull-right-col-2,
.offset-left-2{
  margin-left: 16.66666666666667%;
}
.pull-right-col-1,
.offset-left-1{
  margin-left: 8.33333333%;
}

/* __ pull right columns __ */

.pull-left-col-12,
.offset-right-12{
  margin-right: 100%;
}
.pull-left-col-11,
.offset-right-11{
  margin-right: 91.6666666%;
}
.pull-left-col-10,
.offset-right-10{
  margin-right: 83.33333333333333%;
}
.pull-left-col-9,
.offset-right-9{
  margin-right: 75%;
}
.pull-left-col-8,
.offset-right-8{
  margin-right: 66.66666666666667%;
}
.pull-left-col-7,
.offset-right-7{
  margin-right: 58.33333333333333%;
}
.pull-left-col-6,
.offset-right-6{
  margin-right: 50%;
}
.pull-left-col-5,
.offset-right-5{
  margin-right: 41.66666666666667%;
}
.pull-left-col-4,
.offset-right-4{
  margin-right: 33.33333333333333%;
}
.pull-left-col-3,
.offset-right-3{
  margin-right: 25%;
}
.pull-left-col-2,
.offset-right-2{
  margin-right: 16.66666666666667%;
}
.pull-left-col-1,
.offset-right-1{
  margin-right: 8.33333333%;
}

/* __ push left column __ */

.push-left-col-12 {
  padding-left: 100%;
}
.push-left-col-11{
  padding-left: 91.6666666%;
}
.push-left-col-10 {
  padding-left: 83.33333333333333%;
}
.push-left-col-9 {
  padding-left: 75%;
}
.push-left-col-8 {
  padding-left: 66.66666666666667%;
}
.push-left-col-7 {
  padding-left: 58.33333333333333%;
}
.push-left-col-6 {
  padding-left: 50%;
}
.push-left-col-5 {
  padding-left: 41.66666666666667%;
}
.push-left-col-4 {
  padding-left: 33.33333333333333%;
}
.push-left-col-3 {
  padding-left: 25%;
}
.push-left-col-2 {
  padding-left: 16.66666666666667%;
}
.push-left-col-1 {
  padding-left: 8.33333333%;
}

/* __ push right column __ */

.push-right-col-12 {
  padding-right: 100%;
}
.push-right-col-11{
  padding-right: 91.6666666%;
}
.push-right-col-10 {
  padding-right: 83.33333333333333%;
}
.push-right-col-9 {
  padding-right: 75%;
}
.push-right-col-8 {
  padding-right: 66.66666666666667%;
}
.push-right-col-7 {
  padding-right: 58.33333333333333%;
}
.push-right-col-6 {
  padding-right: 50%;
}
.push-right-col-5 {
  padding-right: 41.66666666666667%;
}
.push-right-col-4 {
  padding-right: 33.33333333333333%;
}
.push-right-col-3 {
  padding-right: 25%;
}
.push-right-col-2 {
  padding-right: 16.66666666666667%;
}
.push-right-col-1 {
  padding-right: 8.33333333%;
}

/* __ GRIDS __ */

.grid > li,
.grid > div{
  margin: 0 2% 2% 0;
  float: left;
}
.grid-2 > li,
.grid-2 > div{
  width: 49%;
}
.grid-3 > li,
.grid-3 > div{
  width: 32%;
}
.grid-4 > li,
.grid-4 > div{
  width: 23.5%;
}
.grid-5 > li,
.grid-5 > div{
  width: 18.4%;
}
.grid-6 > li,
.grid-6 > div{
  width: 15%;
}

.grid-2 li:nth-child(2n+0),
.grid-3 li:nth-child(3n+0),
.grid-4 li:nth-child(4n+0),
.grid-5 li:nth-child(5n+0),
.grid-6 li:nth-child(6n+0) {
  margin-right: 0;
}

/* __ div-elem based edits __ */

.grid-2 div:nth-child(2n+0),
.grid-3 div:nth-child(3n+0),
.grid-4 div:nth-child(4n+0),
.grid-5 div:nth-child(5n+0),
.grid-6 div:nth-child(6n+0) {
  margin-right: 0;
}

/* __ media list based grid __ */

.grid > li .thumbnail,
.grid > li .thumbnail img,
.grid > li .title,
.grid > li .meta,
.grid > li p,
.grid > li img{
  float: left;
  width: 100%;
}

/* __ media div based grid __ */

.grid > div .thumbnail,
.grid > div .thumbnail img,
.grid > div .title,
.grid > div .meta,
.grid > div p,
.grid > div img{
  float: left;
  width: 100%;
}
.grid > li .meta .inner,
.grid > div .meta .inner{
  float: left;
}
.grid > li .meta .inner *,
.grid > div .meta .inner *{
  width: 100%;
}
.grid a:hover{
  text-decoration: underline;
}
