/*
  List Module v1
  ---------------------
  @desc: Default & Custom List Elements
  @author: Alan Museljic
  @twitter: https://www.twitter.com/_uloga
  @source: http://www.decorator.io/modulr
\--------------------------------------------*/

ol, .disc, .circle{
  margin-left: 15px;
}
ul.inline,
ol.inline{
  float: left;
}
.disc{
  list-style: disc;
}
.circle{
  list-style: circle;
}
.list li > ul,
.disc li > ul{
  margin-left: 15px;
}
.inline li{
  float: left;
  margin:0 15px 0 0;
}
ol.inline li{
  float: left;
  margin: 0 30px 0 0;
  white-space: nowrap;
}
ul.pull-left li,
ol.pull-left li{
  float: left;
  width: 100%;
}
